<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arcgis.esrij.RuntimeSDKSample">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.arcgis.esrij.RuntimeSDKSample.OpeningActivity"
            android:theme="@android:style/Theme.Holo">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity android:name="com.arcgis.esrij.RuntimeSDKSample.ListSampleActivity"
            android:theme="@android:style/Theme.Holo"
            android:label="@string/app_name">
        </activity>

        <activity android:name="com.arcgis.esrij.RuntimeSDKSample.BasemapActivity"
            android:theme="@android:style/Theme.Holo"
            android:label="@string/app_name_1"/>

        <activity android:name="com.arcgis.esrij.RuntimeSDKSample.AutoPanModeActivity"
            android:theme="@android:style/Theme.Holo"
            android:label="@string/app_name_2"/>

    </application>

</manifest>
